<!-- app/views/lists/_form.html.erb -->
<%= form_with(model: @list, local: true, html: { multipart: true }) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :background_image_url %>
    <%= form.text_field :background_image_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :photo %>
    <%= form.file_field :photo, class: 'form-control' %>
    <% if @list.photo.attached? %>
      <div class="mt-3">
        <p>Current Image:</p>
        <%= image_tag url_for(@list.photo), class: 'img-thumbnail' %>
      </div>
    <% end %>
  </div>

  <%= form.submit 'Save List', class: 'btn btn-primary' %>
<% end %>
