<nav class="site-navbar">
  <div class="site-navbar__container">

    <!-- Logo -->
    <div class="site-navbar__logo">
      <%= link_to root_path do %>
        <%= image_tag "watchlist-logo.png", alt: "Logo Watchlist", class: "site-navbar__logo-img" %>
      <% end %>
    </div>

    <!-- Burger (mobile) -->
    <button class="site-navbar__toggle" data-action="click->navbar#toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Links -->
    <ul class="site-navbar__links" data-navbar-target="menu">
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Films populaires", movies_popular_path %></li>
      <li><%= link_to "Recommandations", movies_recommended_path %></li>
      <li><%= link_to "Nouvelle liste", new_list_path, class: "site-navbar__cta" %></li>
    </ul>

  </div>
</nav>
